<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    <title>Predicción ML</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Formulario de Predicción</h1>
        <p>Introduce los valores de las características para realizar la predicción.</p>
        
        <div class="decorative-box">
            <p><strong>Nota:</strong> Los valores de la edad deben ser números válidos</p>
        </div>

        <form action="/predict" method="POST">
            <div>
                <label for="feature1">Feature 1 (Clase):</label>
                <select name="feature1" id="feature1">
                    <option value="" selected>Selecciona Clase</option>
                    <option value="1">Primera clase</option>
                    <option value="2">Segunda clase</option>
                    <option value="3">Tercera clase</option>
                </select>
            </div>
            <div>
                <label for="feature2">Feature 2 (Sexo):</label>
                <select name="feature2" id="feature2">
                    <option value="" selected>Selecciona Sexo</option>
                    <option value="0">Hombre</option>
                    <option value="1">Mujer</option>
                </select>
            </div>
            <div>
                <label for="feature3">Feature 3 (Edad):</label>
                <input type="number" id="feature3" name="feature3" required>
            </div>
            <button type="submit">Predecir</button>
        </form>
    </div>
</body>
</html>

